* {
    margin: 0;
    padding: 0;
}

html,
body{
    width:100vw;
    height:100vh;

}

.container {
    background-color: #ddd;
    font-family: sans-serif;
    font-size: 20px;
    width: 90%;
    height: 50px;
    margin: 30px;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: flex-start;
}

div.container>div {
    height: 50px;
}

.blue {
    background-color: blue;
}

.orange {
    background-color: orange;
}

.green {
    background-color: green;
}

.goldenrod {
    background-color: goldenrod;
}

.violet {
    background-color: violet;
}

.red {
    background-color: red;
}