.container {
    background-color: #ddd;
    font-family: sans-serif;
    font-size: 20px;
    width: 95%;
    height: 50px;
    margin: 20px;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
}

div.container>div {
    height: 50px;
}

.blue {
    background-color: blue;
}

.orange {
    background-color: orange;
}

.green {
    background-color: green;
}

.goldenrod {
    background-color: goldenrod;
}

.violet {
    background-color: violet;
}

.red {
    background-color: red;
}