* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    height: 100vh;
}


#block{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap
}

.A,
.B{
    width:100%;
    border: 2px solid #000;
    margin: 10px;
    text-align:center;
}