* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    width:100vw;
    height:100vh;

}

#block{
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.A,
.B,
.C{
    /* height: 50px; */
    border: 2px solid black;
    margin: 1px;
    text-align: center;
    /* flex-grow: 1;
    flex-shrink: 1; */
}

/* .B{
    flex-grow: 2;
}

.C {
    flex-shrink: 3;
} */