.box{
    border: 2px solid black;
    background-color: red;
}

div{
    margin-bottom: 8px;
}

hr{
    margin: 20px 0;
}

.fifty-percents{
    width: 50%;
}

.one-hundred-px{
    width: 100%;
}

.fifty-vw{
    width: 50vw;
}

.fifty-vh {
    width: 25vh;
}

.parent-container{
    width: 700px;
    border: 1px solid black;
}