h1,h2,h3,h4,p,li{
    font-family: sans-serif;
}

h1,h2,h3{
    color: #1098ab;
}

a{
    text-decoration: none;
}

h1{
    font-size: 26px;
    /* text-transform: lowercase; */
    font-style: italic;
}

h2{
    font-size: 40px;
}

p{
    font-size: 22px;
    line-height: 1.5;
}

h3{
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 40px;
}

h4{
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

li{
    font-size: 20px;
    margin-bottom: 10px;
}

li:first-child{
    font-weight: bold;
}

li:last-child{
    margin-bottom: 0;
}

article {
    margin-bottom: 60px;
}

ul,ol{
    margin-left: 50px;
    margin-bottom: 20px;
}
/* Lowest priority among all priorities specifically defined for body elements.
body{
    color: red;
} */

/* Always use class over id.*/
/* Class is more future-proof.*/

/* li:nth-child(2){
    font-weight: bold;
} */

.copyright{
    font-size: 16px;
}

.related-author{
    font-size: 18px;
    font-weight: bold;
}

/* Select the p element inside article that is the first child of article.*/

/* article p:first-child{
    color: red;
} */

.main-header{
    background-color: #f7f7f7;
    padding: 20px; /* Padding left/right/bottom/top */
    height: 80px;
}

aside{
    background-color: #f7f7f7;
    border: 5px solid #1098ab;
    width: 500px;
}

/* Select and style unvisited links. */
a:link{
    color: blue;
}

/* Select and style visited links. */
a:visited{
    color: #1098ab;
}

/* Select and style links that you are mousing over.*/
a:hover{
    color: orangered;
    font-weight: bold;
    text-decoration: underline solid orangered;
}

/* Select and style the active link, which is the link you are clicking on.*/
a:active{
    color: red;
    background-color: black;
}