.box{
    border: 2px solid red;
    width: 200px;
    height: 200px;
    text-align: center;


}

.static{
    position: static;
    left: 100px;
    top: 100px;
}

.relative{/* Position relative to itself. */
    position: relative;
}

/* Origin - Nearest positioned ancester. 
1. Must be positioned ancester.
2. Must be the nearest positioned ancester. */

.absolute{
    position: absolute;
    top: 100px;
    left: 300px;
}

.fixed{
    position: fixed;
    top: 0;
    left: 45%;
}

.sticky{
    position: sticky;
    top: 50px;
    left: 0;
}

.body{
    height: 2000px;
}