.box{
    border: 2px solid red;
    width: 200px;
    height: 200px;
    text-align: center;
}

.static{
    position: static;
    left: 100px;
    top: 100px;
}

/* Position relative to its normal position.*/

.relative{
    position: relative;
    left: 200px; /* Move the box right by 200px.*/
    right: 200px;
    top: 100px; /* Move the box down by 100px */
    bottom: 100px;
    /* Top and left take precedence over bottom and right. */
}

.absolute{
    position: absolute;
}

/* Origin - Nearest positioned (non-static) ancester. 
1. Must be positioned ancester.
2. Must be the nearest positioned ancester.

.fixed{
    position: fixed;
    top: 0;
    left: 45%;
}

.sticky{
    position: sticky;
    top: 50px;
    left: 0;
}

.body{
    height: 2000px;
} */