body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section{
    width: 50%;
    background-color: #f2f2f2;
    padding: 20px;
}

label{
    display: block;
    margin: 5px 0px;
}

*{
    box-sizing: border-box;
}

input[type="text"],
input[type="password"],
select#country{
    width: 100%;
    height: 40px;
    padding: 10px 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
}

div.phone{
    display: flex;
}

select.phone{
    width: 150px; /* You, be fixed to 170 */
    height: 40px;
    padding: 10px 10px;
    margin: 5px 5px 5px 0px;
    border: 1px solid #ccc;
}

input[type="tel"]
{
    flex: 1; /* You... fill the remaining space */
    height: 40px;
    padding: 10px;
    margin: 5px 0px 5px 5px;
    border: 1px solid #ccc;
}

input#female[type="radio"],
input#eating[type="checkbox"]{
    margin: 8px 5px 8px 0px;
}

input#male[type="radio"],
input#drinking[type="checkbox"],
input#sleeping[type="checkbox"]
{
    margin: 8px 5px;
}

input[type="submit"]{
    display: inline-block;
    width: 100%;
    height: 40px;
    background:#4caf50;
    color:#fff;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}