section {
    box-sizing: border-box;
    border: 1px solid blue;
    width: 100%;
    float: left;
}

div {
    margin: 5px;
    width: 100px;
    height: 100px;
}

.left {
    float: left;
    background: red;
}

.none {
    float: none;
    background: pink;
}

.inline-start {
    float: inline-start;
    background: orange;
}

.right {
    float: right;
    background: green;
}

.inline-end {
    float: inline-end;
    background: blue;
}